/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.impact_container {
  padding: 20px;
}

.impact_panel {
  /**/
}

.impact_result {
  background-color: #d6d3c4;
  padding: 10px;
}

.impact_questions {
  /**/
}

.impact_question {
  margin-bottom: 20px;
}

.impact_question_content {
  /**/
}

.impact_question_number {
  float: left;
}

.impact_question_number::after {
  content: ".";
  padding-right: 10px;
}

.impact_question_options {
  /**/
}

.impact_summary {
  /**/
}

.subsection_content {
  padding-top: 25px;
}
