    <footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
      <div class="wrap">
        <div class="footer-links">
          <p class="copyright">Copyright &copy; <span id="year"></span> Texas A&amp;M University System All rights reserved.</p>
          <p>
            1370 TAMU, College Station, TX 77843-1370 | Phone: (979) 234-0030 | email: <a href="mailto:contact@cyber.tamus.edu">contact@cyber.tamus.edu</a>
            <br>
            <a href="https://www.texas.gov/" target="_blank">State of Texas</a> |
            <a href="https://gov.texas.gov/organization/hsgd" target="_blank">Texas Homeland Security</a> |
            <a href="https://veterans.portal.texas.gov/" target="_blank">Texas Veterans Portal</a> |
            <a href="https://www.tsl.texas.gov/trail" target="_blank">Statewide Search</a> |
            <a href="https://secure.ethicspoint.com/domain/media/en/gui/19681/index.html" target="_blank">Risk, Fraud
              &amp; Misconduct Hotline</a> |
            <a href="https://www.tamus.edu/marcomm/reports/privacy/">Privacy</a> |
            <a href="https://www.tamus.edu/marcomm/reports/accessibility/">Web Accessibility</a> |
            <a
              href="https://dir.texas.gov/resource-library-item/state-website-linking-privacy-policy">State
              Link Policy</a> |
            <a href="https://www.tamus.edu/system/campus-carry-rules/" rel="publisher">Campus Carry</a>
          </p>
        </div>
        <div class="tamus-logo">
          <a href="https://www.tamus.edu/">
            <img src="/assets/images/logos/tamus-primary-logo-white.webp"
              alt="Texas A&amp;M University System"></a>
        </div>
      </div>
    </footer>
  </div>
  <script src="/assets/js/hoverIntent.min.js"></script>
  <script src="/assets/js/superfish.args.min.js"></script>
  <script src="/assets/js/superfish.min.js"></script>
  <script src="/assets/js/skip-links.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/responsive-menus.min.js"></script>
  <script src="/assets/js/oit.js"></script>
  <!-- Remove JSD Widget until accessibility issue can be solved
  <script data-jsd-embedded data-key="f15c5ad6-52b5-4bf7-a122-871f978c8dfa" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>
  -->
</body>
</html>
